.card {
  width: calc(25% - 40px);
  margin: 20px;
  padding: 20px;

  text-align: center;

  background-color: $main_color;

  &__image {
    width: 100%;
    margin-bottom: 20px;
  }
  &__title {
    margin-bottom: 20px;

    text-transform: uppercase;

    color: $white;
  }
  &__author, &__year {
    color: $main_color-light;

    font-weight: normal;
  }
}
