* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

body {
  background-color: $main_color_dark;
}

.error_message {
  padding: 40px;

  color: $main_color-light;

  font-size: 35px;
}

.btn {
  padding: 5px 10px;

  text-decoration: none;

  color: $white;
  border-radius: 5px;
  background-color: $main_color_dark;
}

.cards {
  display: flex;
  flex-flow: wrap;
  justify-content: center;

  margin-top: 30px;
}
