
.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: $header_height;

  background-color: $main_color;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;

    @extend .container;
  }
  + * {
    margin-top: $header_height;
  }
  &__img {
    height: $header_height / 100 * 60;
  }
  &__input {
    outline: none;
    border: none;
    padding: 3px 5px;
  }
  &__button {
    @extend .btn;
  }
}
